<h1>Osepa-Mazo, Michelle-Grecille</h1>
<br>
<p><b>0000-0001-5782-6901</b></p>
<br>
<p>https://scholar.google.com/citations?user=lUtjZYUAAAAJ&hl=es</p>
<br>
<h2>Biografía</h2>
<p>Michelle se graduó como bachiller de la unidad educativa San Marcos, en este momento está estudiando literatura en EAFIT</p>
<p>en este momento no tiene publicaciones.</p>
<br>
<h3><i>Idiomas</i></h3>
<ul>
    <li>Español</li>
    <li>Inglés</li>
    <li>Papiamento</li>
</ul>
<br>
<h4><b>Intereses</b></h4>
<ul>
    <li>literatura juvenil</li>
    <li>Creación literaria</li>
    <li>Creación hipertextual</li>
    <li>Edición</li>
    <li>Publicación</li>
</ul>